{{if .Flash.InfoMsg}}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.Flash.InfoMsg}}</p>
    </div>
{{end}}

{{if .Flash.SuccessMsg}}
    <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.Flash.SuccessMsg}}</p>
    </div>
{{end}}

{{if .Flash.WarningMsg}}
    <div class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.Flash.WarningMsg}}</p>
    </div>
{{end}}

{{if .Flash.ErrorMsg}}
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{.Flash.ErrorMsg}}</p>
    </div>
{{end}}