{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>NekoCAS</title>
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-alpha.21/dist/css/tabler.min.css">
</head>
{{end}}