{{define "manageUser"}}
    <div>
        {{if eq .register true}}
            <span class="uk-label uk-label-primary">开放注册</span>
        {{else}}
            <span class="uk-label uk-label-primary">关闭注册</span>
        {{end}}
    </div>
    <table class="uk-table uk-table-divider">
        <tbody>
        {{range $item := .users}}
            <div class="uk-card-header">
                <div class="uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        {{$item.Name}}
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-text-small uk-margin-remove-bottom">{{$item.Email}}</h3>
                    </div>
                    <div class="uk-width-expand">
                        {{if eq $item.Permission 1}}
                            <span class="uk-label uk-label-primary">管理员</span>
                        {{end}}
                    </div>
                    <div>
                        <form action="/manage/user/admin" method="post">
                            <input name="_csrf" value="{{$._csrf}}" hidden>
                            <input hidden name="id" value="{{$item.ID}}"/>
                            <button class="uk-button-default">{{if eq $item.Permission 1}}取消管理员{{else}}设置管理员{{end}}</button>
                        </form>
                    </div>
                    <div>
                        <form action="/manage/user/delete" method="post">
                            <input name="_csrf" value="{{$._csrf}}" hidden>
                            <input hidden name="id" value="{{$item.ID}}"/>
                            <button class="uk-button-danger">删除用户</button>
                        </form>
                    </div>
                </div>
            </div>
        {{end}}
        </tbody>
    </table>
{{end}}