{{template "header" .}}
<body class="antialiased d-flex flex-column">
{{ template "layouts/bar" .}}
<div class="flex-fill d-flex flex-column justify-content-center py-4">
    <div class="container-tight py-6">
        <div class="text-center mb-4">
            <a href="/"><img src="/static/NekoWheel.png" height="75" alt="{{.SiteName}}"></a>
        </div>
        <form class="card card-md" action="" method="post">
            <div class="card-body">
                {{template "layouts/alert" .}}
                <h2 class="card-title text-center mb-4">已发送激活邮件到您的邮箱</h2>
                <p class="text-muted mb-4">一封用于激活您的 {{.SiteName}} 账户的邮件已经发送到您的电子邮箱（{{.LoggedUser.Email}}），请查收并根据邮件提示激活您的
                    {{.SiteName}}
                    账号。</p>
                <div class="form-footer">
                    <form action="/activate" method="post">
                        {{.CSRFTokenHTML}}
                        <button type="submit" class="btn btn-primary w-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <rect x="3" y="5" width="18" height="14" rx="2"/>
                                <polyline points="3 7 12 13 21 7"/>
                            </svg>
                            没有收到邮件？再次发送
                        </button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{{template "footer" .}}