{{template "header" .}}
<div class="uk-position-center">
    <div class="uk-card uk-card-default uk-card-body uk-width-large uk-card-small">
        <div class="uk-card-header uk-text-center">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">错误</h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                        {{.ErrorMsg}}
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-card-footer uk-text-center">
            <a href="/" class="uk-button uk-button-text">回到主页</a>
        </div>
    </div>
</div>
{{template "footer" .}}