{{template "header" .}}
<div class="uk-container uk-container-xsmall uk-position-center">
    <div class="uk-card uk-card-default uk-card-body uk-width-xlarge uk-card-small">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="50" height="50" src="{{.avatar}}">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{.name}}</h3>
                    <p class="uk-text-meta uk-margin-remove-top">{{.email}}</p>
                </div>
            </div>
        </div>
        <div class="">
            <table class="uk-table uk-table-divider">
                <tbody>
                {{range $item := .services}}
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                {{if eq $item.Avatar ""}}
                                    <img class="uk-border-circle" width="40" height="40"
                                         src="https://cdn.v2ex.com/gravatar/{{$item.Name}}?s=64&d=identicon&f=y&r=g">
                                {{else}}
                                    <img class="uk-border-circle" width="40" height="40" src="{{ $item.Avatar }}">
                                {{ end }}
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-text-small uk-margin-remove-bottom">{{$item.Name}}</h3>
                            </div>
                            <div class="uk-float-right">
                                <form action="/revoke" method="post">
                                    <input name="_csrf" value="{{$._csrf}}" hidden>
                                    <input hidden name="id" value="{{$item.ID}}"/>
                                    <button class="uk-button-danger">取消授权</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="uk-card-footer">
            <form action="/logout" method="post">
                <a href="/profile" class="uk-button uk-button-primary">修改信息</a>
                <input name="_csrf" value="{{$._csrf}}" hidden>
                <button class="uk-button uk-button-danger">登出</button>
            </form>
        </div>
    </div>
</div>
{{template "footer" .}}