{{template "header" .}}
<body class="antialiased border-top-wide border-primary d-flex flex-column">
<div class="flex-fill d-flex flex-column justify-content-center py-4">
    <div class="container-tight py-6">
        <div class="text-center mb-4">
            <a href="."><img src="/static/NekoWheel.png" height="75" alt="NekoWheel"></a>
        </div>
        <div class="card card-md card-body">
            <h2 class="card-title text-center mb-4">登出成功</h2>
            <p class="text-center text-muted mb-4">您的账号已安全登出 NekoWheel。</p>
        </div>
        <div class="text-center text-muted mt-3">
            <a href="/login">返回登录</a>
        </div>
    </div>
</div>
{{template "footer" .}}