{{template "header" .}}
<div class="uk-container uk-container-xlarge uk-position-center">
    <div class="uk-card uk-card-default uk-card-body uk-card-small" style="width: 700px;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <h3>管理</h3>
            </div>
        </div>
        <div class="">
            <ul uk-tab>
                <li><a href="#">服务管理</a></li>
                <li><a href="#">用户管理</a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
                <li>
                    {{template "manageService" .}}
                </li>
                <li>

                </li>
            </ul>
        </div>
        <div class="uk-card-footer">
            <p><a href="/" class="uk-button uk-button-text"><span uk-icon="icon: chevron-left"></span>返回</a></p>
        </div>
    </div>
</div>
{{template "footer" .}}