{{template "header" .}}
<div class="uk-container uk-position-center">
    <div class="uk-card uk-card-default uk-width-xlarge">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="50" height="50"
                         src="https://cdn.v2ex.com/gravatar/{{.LoggedUser.Avatar}}">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{.LoggedUser.NickName}}</h3>
                    <p class="uk-text-meta uk-margin-remove-top">{{.LoggedUser.Name}} - {{.LoggedUser.Email}}</p>
                </div>
            </div>
        </div>

        {{template "layouts/alert" . }}
        <ul uk-tab>
            <li><a href="#">首页</a></li>
            <li {{if eq .Tab "update_info"}}class="uk-active"{{end}}><a href="#">修改信息</a></li>
            <li><a href="#">登录日志</a></li>
        </ul>

        <ul class="uk-switcher uk-margin uk-margin-left uk-margin-right uk-height-large">
            <li>
            </li>
            <!-- 修改信息 -->
            <li>
                <form class="uk-form-stacked" method="post">
                    {{.CSRFTokenHTML}}
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">昵称</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" name="nick_name" type="text" value="{{.LoggedUser.NickName}}">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">密码</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" name="password" type="password" placeholder="留空则不修改">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">重复密码</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" name="retype" type="password">
                        </div>
                    </div>
                    <div class="uk-margin uk-text-center">
                        <button type="submit" class="uk-button uk-button-primary">修改</button>
                    </div>
                </form>
            </li>
        </ul>

        <div class="uk-card-footer">
            <p><a href="/logout" class="uk-button uk-button-danger uk-button-small">登出</a></p>
        </div>
    </div>
</div>
{{template "footer" .}}