{{template "header" .}}
<div class="uk-position-center">
    <div class="uk-card uk-card-default uk-card-body uk-width-large uk-card-small">
        <div class="uk-card-header uk-text-center">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">注册你的 Neko 账号</h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                        一个账号畅享 NekoWheel 所有服务
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            {{template "layouts/alert" . }}

            <form class="uk-form-stacked" method="post">
                {{.CSRFTokenHTML}}
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">电子邮箱</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="mail" type="text" value="{{.mail}}">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">昵称</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="name" type="text" value="{{.name}}">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">密码</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="password" type="password">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">重复密码</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="retype" type="password">
                    </div>
                </div>
                <div class="uk-margin uk-text-center">
                    <button type="submit" class="uk-button uk-button-primary">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "footer" .}}